/* Common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins";
}
.header-section{
    display: flex;
    background-color: rgba(239, 161, 44, 0.11);
    justify-content: space-around;
    align-items: center;
    background: cover;
    height: 600px;
    width: 100%;
}
.btn{
    background-color: orange;
    padding: 5px 10px;  
    border-radius: 3px; 
    color: white; 
    text-decoration: none ;
}
.btn:hover{
    background-color: green;
}
/* main section start */
.services{
    padding: 40px 20px;
}
.services-boxs{
    display: flex;
    justify-content: space-around;
}

.service-box{
    background-color: rgba(239, 161, 44, 0.11);
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.service-icon{
    width: 40%;
}
.service-box img{
    width: 100%;  
}
.service-text{
    width: 70%;
    margin: 10px;
}