/* Common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins";
}
.header-section{
    display: flex;
    background-color: rgba(239, 161, 44, 0.11);
    justify-content: space-around;
    align-items: center;
    background: cover;
    height: 100vh;
    width: 100%;
}
.btn{
    background: linear-gradient(45deg, orangered, orange);
    padding: 5px 10px;  
    border-radius: 3px; 
    color: white; 
    text-decoration: none ;
}
.btn:hover{
    background: linear-gradient(45deg, rgb(22, 90, 209), rgb(137, 183, 225));  
}
/* main section start */
.services{
    padding: 40px 20px;
}
.services-boxs{
    display: flex;
    justify-content: space-around;
}

.service-box{
    background-color: rgba(239, 161, 44, 0.11);
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.service-icon{
    width: 40%;
}
.service-box img{
    width: 100%;  
}
.service-text{
    width: 70%;
    margin: 10px;
}
/* laptop card starts */
.laptop-section{
    width: 90%;
    margin: 0 auto;

}
.laptop-cards{
    
    display: flex;
    justify-content: space-around;
    
}
.laptop-card{
    width: 30%;
    background-color: rgba(242, 240, 237, 0.11);
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
    padding: 20px;
}
.laptop-card img{
    width: 100%;
    padding: 20px;
}
/* laptop card ends */

/* phone section start  */

.phone-cards{
    
    display: flex;
    justify-content: space-evenly;
    
}
.phone-card{
    width: 30%;
    background-color: rgba(242, 240, 237, 0.11);
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
    padding: 20px;
}
.phone-card img{
    width: 100%;
    padding: 30px;
}
/* phone section end  */

/* Contract section start */
.contract-body{
    width: 100%;
    background-color: rgba(239, 161, 44, 0.11);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.btn-submit{
    background: linear-gradient(45deg, orangered, orange);
    padding: 2px 15px;
    width: 100%; 
    border-radius: 3px; 
    color: white; 
    text-decoration: none ;
}
.btn-submit:hover{
    background: linear-gradient(45deg, rgb(49, 115, 229), rgb(137, 183, 225)); 

}
/* Contract section end */

/* footer section start */
.footer-section{
    margin-top: 30px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 30px;
}
/* footer section end */

/* Dual image hover effect start */
.dual-image{
    background-color: #2f2a30;
    
}
.gallery {
    --g: 8px; /* the gap */
    
    display: grid;
    place-items:center;
    padding: 20px;
    
    clip-path: inset(1px); /* to avoid visual glitchs */
  }
  .gallery > img {
    --_p: calc(-1*var(--g));
    grid-area: 1/1;
    width: 350px; /* control the size */
    aspect-ratio: 1;
    cursor: pointer;
    transition: .4s .1s;
  }
  .gallery > img:first-child {
    clip-path: polygon(0 0, calc(100% + var(--_p)) 0 , 0 calc(100% + var(--_p)))
  }
  .gallery > img:last-child {
    clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%)
  }
  .gallery:hover > img:last-child,
  .gallery:hover > img:first-child:hover{
    --_p: calc(50% - var(--g));
  }
  .gallery:hover > img:first-child,
  .gallery:hover > img:first-child:hover + img{
    --_p: calc(-50% - var(--g));
  }
/* Dual image hover effect end */

/* footer section start  */

.footer-section :hover h2,p{
   font-size: 24px;
   transition:  ease-in 2s;
}
/* footer section end */